---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404: Not Found">
  <h1>Not Found</h1>
  <p>
    Hey, the link you request does not exist... Maybe you can visit the <a
      href="/">home page</a
    > and see if you can find what you want? :)
  </p>
</BaseLayout>
