---
import BaseLayout from '../layouts/BaseLayout.astro';
import Bio from '../components/Bio.astro';
---

<BaseLayout title="About">
  <h1><a href="/">Techy Novice</a></h1>
  <Bio />
  <p>
    There used to be something here.<br />
    Last updated: 8.3.2025
  </p>
</BaseLayout>
